@model FileMonitor.DataDB.model1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServicePathToMonitor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathToMonitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathToMonitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceSysId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceSysId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangeDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangeDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeCheckInterval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeCheckInterval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileNamePattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileNamePattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFilesForToday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFilesForToday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastFileReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastFileReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFilesForYesterday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFilesForYesterday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServicePathSysId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
